@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Staatliches&display=swap");
html {
  font-size: 62.5%; }

nav {
  font-family: "Staatliches", cursive;
  font-size: 1.6rem;
  color: #0e0107;
  width: 100vw;
  background-color: rgba(240, 240, 240, 0.651); }
  nav li > a {
    height: 3.4rem; }
  nav .borderFade {
    padding-bottom: 1px;
    color: #1b202d;
    position: relative; }
    nav .borderFade::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: 0;
      opacity: 0;
      transform: translateY(3px);
      background: #a30000;
      transition: opacity 0.2s ease, transform 0.2s ease; }
    nav .borderFade:hover::after {
      opacity: 1;
      transform: translateY(0); }

.section {
  width: 90% !important;
  padding-top: 2rem; }

.section-name {
  padding-top: 3rem;
  padding-bottom: 2.2rem; }
  .section-name h2 {
    font-family: "Staatliches", cursive;
    font-size: 3rem;
    color: #0e0107; }

hr {
  margin-top: -1.5rem !important;
  margin-bottom: 3rem !important; }

.download-section {
  padding-bottom: 2rem; }

.download-button {
  padding: 12px 24px;
  background-color: #a5031e !important;
  color: #f0f0f0 !important;
  transition: transform 250ms ease-in-out;
  border: none !important; }
  .download-button:hover {
    transform: scale(1.1);
    border: none !important; }
  .download-button:active {
    transform: scale(0.9);
    border: none !important; }

.resume-section {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  color: #0e0107;
  font-weight: 300;
  text-decoration: underline;
  padding-bottom: 1.4rem; }

.list-timeline {
  list-style: none; }
  .list-timeline .badge {
    padding: 0.4rem !important; }
  .list-timeline .badge-primary {
    background-color: #276FBF; }
  .list-timeline h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: #f0f0f0; }
  .list-timeline p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: #0e0107;
    padding-top: 1.5rem; }
  .list-timeline li {
    line-height: 0;
    position: relative;
    padding-left: 2rem;
    padding-bottom: 2rem; }
    .list-timeline li:before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      left: 0.5rem;
      transform: translateX(-50%);
      width: 0.1rem;
      background-color: rgba(209, 209, 209, 0.678); }
    .list-timeline li:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0px;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: #0e0107; }
    .list-timeline li:nth-child(2):before {
      background-color: white; }
    .list-timeline li:nth-child(2):after {
      background-color: #a30000; }

.fizz-icons {
  font-size: 4rem; }

.skill-name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #0e0107; }

.portfolio-card {
  margin: 3rem; }
  .portfolio-card a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: #0e0107; }
    .portfolio-card a:hover {
      color: #a30000 !important;
      text-decoration: none; }
    .portfolio-card a:visited {
      color: #276FBF; }

.card-title {
  font-family: "Staatliches", cursive;
  font-size: 1.6rem;
  color: #0e0107; }

.card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #0e0107; }

.magnifyText {
  color: #1b202d;
  transition: color 0.25s ease-in-out, transform 0.25s ease-in-out; }

.magnifyText:hover {
  transform: scale(1.05);
  color: #a30000; }

.magnifyText:active {
  transform: scale(0.9); }

.footer {
  width: 100%;
  margin-top: 10rem; }
  .footer a,
  .footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: #0e0107; }
  .footer a:hover {
    color: #a30000 !important;
    text-decoration: none; }
  .footer a:visited {
    color: #276FBF; }

@media only screen and (max-width: 767px) {
  #resume p {
    width: 30rem; }
  .skill-name {
    margin-left: auto;
    margin-right: auto; }
  .list-timeline {
    padding-left: 1rem; }
  .resume-section {
    padding-top: 1.5rem; } }

@media only screen and (max-width: 800px) {
  #resume p {
    width: 27rem; }
  .skill-name {
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (min-width: 812px) and (max-width: 1024px) and (orientation: landscape) {
  #resume p {
    width: 28rem; }
  #resume ul {
    width: 50rem;
    margin-left: auto;
    margin-right: auto; }
  .skill-name {
    margin-left: auto;
    margin-right: auto; }
  .resume-section {
    padding-top: 1.5rem; } }
