@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.fourBody {
  background-color: #93e5ab;
  font-family: "Ubuntu", sans-serif; }
  .fourBody .fourDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    color: #013629;
    text-align: center; }
    .fourBody .fourDiv .fourHeading {
      text-decoration: underline;
      font-size: 2rem; }
    .fourBody .fourDiv .fourText {
      font-size: 0.81rem; }

#page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; }
  #page-footer p {
    color: black;
    font-weight: bold;
    font-size: 0.95rem; }
  #page-footer i {
    color: #013629; }
  #page-footer .fa-github:hover,
  #page-footer .fa-linkedin:hover,
  #page-footer .fa-home:hover {
    color: #e3170a; }

.bar-body {
  background-color: #93e5ab;
  font-family: "Ubuntu", sans-serif; }
  .bar-body .bar-description {
    font-size: 17px;
    text-align: center;
    background-color: white;
    padding: 2px;
    width: 60vw;
    margin: auto;
    margin-top: 20px;
    box-shadow: 2px 4px 6px 2px black; }
    .bar-body .bar-description a {
      color: #65b891; }
      .bar-body .bar-description a :hover {
        color: #325457; }
      .bar-body .bar-description a :visited {
        color: #013629; }
  .bar-body .bar-container {
    background-color: white;
    padding: 3px;
    margin: auto;
    width: 900px;
    box-shadow: 2px 5px 6px 4px black;
    margin-top: 40px; }
  .bar-body .bar {
    fill: #e3170a; }
  .bar-body .bar-tip {
    position: absolute;
    z-index: 1;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 20px;
    padding: 5px;
    width: 105px; }
  .bar-body .barSvgClass {
    display: block;
    margin: auto; }
  .bar-body .barTitle {
    font-size: 28px;
    text-align: center;
    text-decoration: underline; }
  .bar-body .barYLabel {
    font-size: 17px; }

.scatter-body {
  background-color: #93e5ab;
  font-family: "Ubuntu", sans-serif; }
  .scatter-body .scatter-description {
    font-size: 15px;
    text-align: center;
    background-color: white;
    padding: 2px;
    width: 60vw;
    margin: auto;
    margin-top: 20px;
    box-shadow: 2px 4px 6px 2px black; }
    .scatter-body .scatter-description a {
      color: #65b891; }
      .scatter-body .scatter-description a :hover {
        color: #325457; }
      .scatter-body .scatter-description a :visited {
        color: #013629; }
  .scatter-body .scatter-title {
    text-align: center;
    line-height: 5px; }
    .scatter-body .scatter-title h1 {
      text-decoration: underline;
      font-size: 24px;
      margin-top: 30px; }
    .scatter-body .scatter-title p {
      font-size: 18px; }
  .scatter-body .scatter-tip {
    position: absolute;
    z-index: 1;
    text-align: center;
    background-color: #013629;
    color: #b5ffe1;
    font-size: 12px;
    padding: 8px;
    border-radius: 10px; }
  .scatter-body .scatter-container {
    background-color: white;
    padding: 3px;
    margin: auto;
    width: 900px;
    box-shadow: 2px 5px 6px 4px black;
    margin-top: 20px; }
  .scatter-body .scatterClass {
    display: block;
    margin: auto; }
  .scatter-body .scatter-y-axis {
    font-size: 10px; }
  .scatter-body .scatter-y-label {
    font-size: 11px; }
  .scatter-body #legend {
    font-size: 14px; }

.heat-body {
  background-color: #93e5ab;
  font-family: "Ubuntu", sans-serif; }
  .heat-body .heat-description {
    font-size: 17px;
    text-align: center;
    background-color: white;
    padding: 2px;
    width: 50vw;
    margin: auto;
    margin-top: 15px;
    box-shadow: 2px 4px 6px 2px black; }
    .heat-body .heat-description a {
      color: #65b891; }
      .heat-body .heat-description a :hover {
        color: #325457; }
      .heat-body .heat-description a :visited {
        color: #013629; }
  .heat-body .heat-title {
    text-align: center;
    line-height: 5px;
    padding-top: 20px; }
    .heat-body .heat-title h1 {
      text-decoration: underline; }
  .heat-body .heat-container {
    background-color: white;
    padding: 3px;
    margin: auto;
    width: 1500px;
    box-shadow: 2px 5px 6px 4px black;
    margin-top: 20px; }
  .heat-body .heatClass {
    display: block;
    margin: auto; }
  .heat-body .heat-tip {
    position: absolute;
    z-index: 1;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    width: 135px; }
  .heat-body .heat-legend-label {
    font-size: 14px; }
