@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.fourBody {
  background-color: #93e5ab;
  font-family: "Ubuntu", sans-serif; }

#makeshift-text {
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.fourDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  color: #013629;
  text-align: center; }
  .fourDiv .fourHeading {
    text-decoration: underline;
    font-size: 2rem; }
  .fourDiv .fourText {
    font-size: 0.81rem; }
  .fourDiv .fourLink {
    border: none;
    font-weight: bold;
    color: #325457; }
    .fourDiv .fourLink:hover {
      color: #e3170a; }
    .fourDiv .fourLink:visited {
      color: #325457; }

#page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; }
  #page-footer p {
    color: black;
    font-weight: bold;
    font-size: 0.95rem; }
  #page-footer i {
    color: #013629; }
  #page-footer .fa-github:hover, #page-footer .fa-linkedin:hover {
    color: #e3170a; }
