$steel-teal: rgba(78, 135, 140, 1);
$ocean-green: rgba(101, 184, 145, 1);
$celadon: rgba(147, 229, 171, 1);
$magic-mint: rgba(181, 255, 225, 1);
$dark-green: rgb(1, 54, 41);
$vermillion: rgba(227, 23, 10, 1);

.fourBody{
    margin-top: 20%;
    background-color: $celadon;
    font-family: Arial, Helvetica, sans-serif;
}
.fourHeading{
    text-decoration: underline;
    text-align: center;
    color: $dark-green;
}
.fourText{
    color: $dark-green;
    font-size: 13px;
    text-align: center;
}
.fourLink{
    text-align: center;
    color: $dark-green;
    font-weight: bold;
    :hover{
        color: black;
    }
    :visited{
        color: $vermillion;
    }
}
.fourDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#page-footer{
    color: $dark-green;
    display: flex;
    flex-direction: row;
}