.fourBody {
  background-color: #4e878c;
  font-family: Arial, Helvetica, sans-serif; }

.fourHeading {
  text-align: center;
  color: #00241b; }

.fourText {
  font-size: 13px;
  font-weight: lighter;
  text-align: center; }

.fourLink {
  text-align: center;
  color: #b5ffe1; }
  .fourLink :hover {
    color: #00241b; }
  .fourLink :visited {
    color: #65b891; }

.fourDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
