@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$ubuntu: 'Ubuntu', sans-serif; 
$steel-teal: rgb(50, 84, 87);
$ocean-green: rgba(101, 184, 145, 1);
$celadon: rgba(147, 229, 171, 1);
$magic-mint: rgba(181, 255, 225, 1);
$dark-green: rgba(1, 54, 41, 1);
$vermillion: rgba(227, 23, 10, 1);
$yellow-munsel: rgba(239, 202, 8, 1);

@mixin default-body(){
    background-color: $celadon;
    font-family: $ubuntu;
}

.fourBody{
    @include default-body();
    .fourDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
        color: $dark-green;
        text-align: center;
        .fourHeading{
            text-decoration: underline; 
            font-size: 2rem;
        }
        .fourText{
            font-size: 0.81rem;
        }
    }
}
#page-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    p{
        color: black;
        font-weight: bold;
        font-size: 0.95rem;
    }
    i{
        color: $dark-green;
    }
    .fa-github, .fa-linkedin, .fa-home{
        &:hover{
            color: $vermillion;
        }
    }
}
.bar-body{
    @include default-body();

    .bar-description{
        font-size: 17px;
        text-align: center;
        background-color: white;
        padding: 2px;
        width: 60vw;
        margin: auto;
        margin-top: auto;
        margin-top: 20px;
        box-shadow: 2px 4px 6px 2px black;
        a{
            color: $ocean-green;
            :hover{
                color: $steel-teal;
            }
            :visited{
                color: $dark-green;
            }
        }
    }

    .bar-container{
        background-color: white;
        padding: 3px;
        margin: auto;
        width: 900px;
        margin: auto;
        box-shadow: 2px 5px 6px 4px black;
        margin-top: 40px;
    }

    .bar{
        fill: $vermillion;
    }

    .bar-tip{
        background-color: black;
        color: white;
        position: absolute;
        z-index: 1;
        text-align: center;
        line-height: 20px;
        padding: 5px;
        width: 105px;
    }

    .barSvgClass{
        margin: auto;
        display: block;
    }

    .barTitle{
        font-size: 28px;
        text-align: center;
        text-decoration: underline;
    }

    .barYLabel{
        font-size: 17px;
    }
}
